.MainLayout {
	position: relative;
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
	background-color: #111111;
}

.BackgroundVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	opacity: 0.4;
	filter: brightness(0.9) saturate(1.1);
}

.ScrollArea {
	flex: 1;
	overflow-y: auto;
	scroll-behavior: smooth;
	z-index: 0;
	padding-top: var(--header-height);
	padding-bottom: var(--footer-height);
}

.MainHeader,
.MainFooter {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 10;
	pointer-events: none;
}

.MainHeader {
	top: 0;
	height: var(--header-height);
}

.MainFooter {
	bottom: 0;
	height: var(--footer-height);
}

.TVRemoteContainer {
	position: fixed;
	bottom: -270px;
	right: 20px;
	z-index: 50;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: translateY(80px);

	filter: drop-shadow(0px 1px 4px black);
}

.TVRemoteContainer:hover {
	transform: translateY(0);
	opacity: 1;
}