.Footer {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 1rem;

	background-image: url("/public/assets/TV4BottomFrame.png");
	background-repeat: round;
	background-size: cover;
	background-position: center top;

	min-height: 100px;

	z-index: 10;
}

.Wrapper {
	display: flex;
	align-items: center;
}