.Header {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgb(0,0,0);
	padding: 1rem;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	color: rgb(253,230,138);
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 20px #ffbf00;
}

.Wrapper {
	display: flex;
	align-items: center;
}

.Title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	filter: drop-shadow(0 0 5px #ffbf00);
}