.TV {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.TVImage {
	pointer-events: none;
	position: absolute;
	z-index: 20;
	height: 110%;
	width: 110%;
}

.TVScreen {
	position: absolute;
	z-index: 10;
	overflow: hidden;
}

.TVVideo {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.TVDynamicContent {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 1rem;
}

.DynamicContentCenter {
	transform-origin: center;
}