.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.thumbnails {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	row-gap: 3rem;
	column-gap: 6rem;
	list-style: none;
	padding: 0 100px;
	margin: 0 auto;
	place-items: center;
	scrollbar-width: thin;
	scrollbar-color: #aaa transparent;
}
