.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.thumbnails {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	row-gap: 3rem;
	column-gap: 6rem;
	list-style: none;
	padding: 0 100px;
	margin: 0 auto;
	place-items: center;
	scrollbar-width: thin;
	scrollbar-color: #aaa transparent;
}

@media (min-width: 1400px) {
  .thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 1024px) {
  .thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  .thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    padding: 0 0.5rem;
  }
}
