.pageWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform-origin: center center;
}

/* scale initiale pour login */
.pageWrapper.login { 
  transform: scale(1); 
  
}

/* scale initiale pour logout */
.pageWrapper.logout { 
  transform: scale(6);
  
}

/* Zoom login */
.zoomIn {
	transform: scale(6);
	transition: transform 2.5s ease, opacity 1.5s ease;
}

/* Dézoom logout */
.zoomOut {
	transform: scale(1);
	transition: transform 2.5s ease, opacity 1.5s ease;
}

.BlackOverlay {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 999;
  opacity: 0;
  animation: blackFadeIn 0.5s forwards;
}

@keyframes blackFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

