.pageWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform 1.5s ease, opacity 1.5s ease;
	transform-origin: center center;
}

.zoomOut {
	transform: scale(6);
	opacity: 1;
}

.BlackOverlay {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 999;
  opacity: 0;
  animation: blackFadeIn 0.5s forwards;
}

@keyframes blackFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
