/* =============================== */
/* CONTAINER CRT                   */
/* =============================== */
.Container {
	font-family: "CommodoreRounded", serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
	margin-top: 2rem;
}

/* Zone style OSD cathodique */
.CRTBox {
	padding: 2rem 3rem;

	text-align: left;
	position: relative;
}

/* Encadré titre OSD */
.TitleBar {
	font-size: 2.2rem;
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
	margin-bottom: 2rem;
}

/* =============================== */
/* TEXTES */
/* =============================== */

.InfosTab {
	display: flex;
	flex-direction: row;
	gap: 10rem;
	font-size: 1.9rem;
}

.keys {
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
}

.values {
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
}

.editValues {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	row-gap: 0.8rem;
}

.buttonGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}




