/* =============================== */
/* CONTAINER CRT                   */
/* =============================== */
.Container {
	font-family: "CommodoreRounded", serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
	margin-top: 2rem;
}

/* Zone style OSD cathodique */
.CRTBox {
	padding: 2rem 3rem;

	text-align: left;
	position: relative;
}

/* Encadré titre OSD */
.TitleBar {
	font-size: 2.2rem;
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
	margin-bottom: 2rem;
}

/* =============================== */
/* TEXTES */
/* =============================== */

.InfosTab {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	font-size: 1.9rem;
}

.row {
	display: grid;
	grid-template-columns: 20rem 1fr;
	column-gap: 2rem;
	align-items: center;
}

.key {
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
	overflow-wrap: anywhere;
}

.value {
	color: #3deaea;
	text-shadow: 0 0 25px #3deaea;
}

.editValues {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	row-gap: 0.8rem;
}

.buttonGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 900px) {
	.InfosTab {
		font-size: 1rem;
		gap: 2rem;
	}

	.row {
		grid-template-columns: 1fr;
		row-gap: 0.2rem;
		align-items: start;
	}

	.key,
	.value p {
		margin: 0;
	}
}