ul {
	list-style-type: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 1.5rem;
	width: 100%;
}

h3 {
	font-family: "CoffeeShop", sans-serif;
	text-shadow: 3px 3px 10px rgba(0, 0, 0, 1) ;

	border: 5px ridge #8a8a8a;
	padding: 2%;
	background-image: url("src/assets/backgrounds/BGwood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profilePic {
	height: 7rem;

	border: 10px ridge #8a8a8a;
	border-image-source: url("src/assets/backgrounds/BORDERplastic.jpg");
	border-image-slice: 203;
	border-image-repeat: repeat;

	box-shadow: 3px 3px 30px rgba(0, 0, 0, 1) ;
}