.content {
	padding: 2rem;
	max-width: 5000px;
	margin: 0 auto;
}

.thumbnails {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	column-gap: 2rem;
	row-gap: 5rem;
	list-style: none;
	padding: 0;
	justify-content: center;
}

.thumbnails li {
	position: relative;
	overflow: hidden;
	border: 10px ridge #8a8a8a;
	box-shadow: 0 0 20px #1a1a1a;

	border-image-source: url("../../assets/backgrounds/BORDERplastic.jpg");
	border-image-slice: 203;
	border-image-repeat: repeat;
}

.thumbnails li::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 25%;
	height: 100%;
	background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.3) 50%,
			rgba(255, 255, 255, 0) 100%
	);
	transform: skewX(-25deg);
	z-index: 1;
}

.thumbnails li:hover::before {
	animation: shine 0.8s ease-in-out;
}

@keyframes shine {
	from {
		left: -50%;
	}
	to {
		left: 150%;
	}
}

.thumbnails li::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 2;
	animation: flicker 2s infinite;
}

@keyframes flicker {
	0% { background-color: rgba(251, 250, 209, 0.01); }
	5% { background-color: rgba(251, 250, 209, 0.03); }
	10% { background-color: rgba(251, 250, 209, 0.01); }
	15% { background-color: rgba(251, 250, 209, 0.02); }
	20% { background-color: rgba(251, 250, 209, 0.03); }
	25% { background-color: rgba(251, 250, 209, 0.01); }
	30% { background-color: rgba(251, 250, 209, 0.03); }
	35% { background-color: rgba(251, 250, 209, 0.02); }
	40% { background-color: rgba(251, 250, 209, 0.01); }
	45% { background-color: rgba(251, 250, 209, 0.03); }
	50% { background-color: rgba(251, 250, 209, 0.01); }
	55% { background-color: rgba(251, 250, 209, 0.02); }
	60% { background-color: rgba(251, 250, 209, 0.01); }
	65% { background-color: rgba(251, 250, 209, 0.03); }
	70% { background-color: rgba(251, 250, 209, 0.02); }
	75% { background-color: rgba(251, 250, 209, 0.03); }
	80% { background-color: rgba(251, 250, 209, 0.02); }
	85% { background-color: rgba(251, 250, 209, 0.01); }
	90% { background-color: rgba(251, 250, 209, 0.01); }
	95% { background-color: rgba(251, 250, 209, 0.03); }
	100% { background-color: rgba(251, 250, 209, 0.01); }
}

.thumbnails li:first-child {
	grid-column: span 2;
	grid-row: span 2;
}

.thumbnails img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 800px) {
	.thumbnails li:first-child {
		grid-column: span 1;
		grid-row: span 1;
	}
}