.frame {
	display: flex;
	flex: 1;
	background-color: #1a1a1a;
}

/* Bande gauche */
.sideLeft {
	width: 20px;

	background-image:
			linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			url("../../assets/backgrounds/BGwood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	border-left: 3px solid #8a8a8a; /* bordure extérieure */
	border-right: 7px ridge #8a8a8a; /* bordure intérieure */
	box-shadow: 10px -1px 25px #1a1a1a;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

/* Bande droite */
.sideRight {
	width: 20px;

	background-image:
			linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			url("../../assets/backgrounds/BGwood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	border-right: 3px solid #8a8a8a; /* bordure extérieure */
	border-left: 7px ridge #8a8a8a; /* bordure intérieure */
	box-shadow: -10px -1px 25px #1a1a1a;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.content {
	flex: 1;

	background-image:
			linear-gradient(rgba(91, 40, 24, 0.4), rgba(91, 40, 24, 0.4)),
			url("../../assets/backgrounds/BGmiddle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	padding: 2rem;
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;
	z-index: 0;
}